@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

/* globals.css */

html,
body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* custom */

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* p {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
} */